.ace_cursor {
	color: transparent !important;
}

.snippet_container {
	display: inline-block;
	position: relative;
	width: Calc(50% - 2.2em);
	margin: 1em;
	margin-bottom: 2em;
	background-color: #393939;
}

.snippet_title {
	display: inline-block;
	margin: 0;
	padding: .5em 1em;
  min-height: 14px;
}

.snippet_content {
	height: 10em;
	border-top: 4px solid #6600ff;
}

.snippet_author {
	margin: 0;
	padding: .25em;
	padding-right: .5em;
	text-align: right;
	color: #A0A0A0;
	font-style: italic;
	background-color: #303030;
}

.snippet_language {
	float: right;
	margin: 0;
	color: #A0A0A0;
	font-style: italic;
	padding: .5em;
	display: inline-block;
}

.snippet_editor {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.snippet-search {
  border: none !important;
  padding: 0 .5em;
  height: Calc(100% - 0.8em);
}

.snippet-search-form {
	display: inline-block;
	width: 200px;
	height: 100%;
	padding: 0;
  margin: 0;
  vertical-align: top;
}
