.snippet-title-table {
  width: 100%;
}

.snippet-language,.snippet-author {
  text-align: right;
  font-style: italic;
  color: #888;
}

.snippet-language {
  padding-left: 0 !important;
}

.snippet-search input[type="submit"] {
  display: none;
}

.card.snippet-search {
  grid-column: 1 / span 2;
  width: Calc(100% - 2em);
  max-width: 60em;
  margin: auto;
  padding: 0;
}

.snippet-search .fa-search {
  position: absolute;
  padding: .85em;
  font-size: 1.5em;
  color: #888;
}

.snippet-content {
  margin: 0 2em 1em 2em;
}

#snippet_search {
  margin: 0;
  padding: 1.5em;
  padding-left: 3.5em;

  /* Fix browsers that don't support CssGrid */
  width: Calc(100% - 5em);
}

.ace-monokai {
  background-color: #383838 !important;
}

.ace_marker-layer,.ace_cursor-layer {
  display: none;
}
