.content {
  grid-template-columns: 1fr !important;
}

#hidden_textarea {
    display: none;
}

#editor {
    min-height: 30em;
}

#edit_post_form table {
    table-layout: fixed;
    padding: 0 2em;
}

.post_title {
    margin-top: 0 !important;
    margin-left: 0 !important;
}

.ace-monokai, .ace-monokai .ace_gutter {
  background-color: #383838 !important;
}

/* We don't need the scrollbar because we auto-resize the editor to fit the content */
.ace_scrollbar-v {
    display: none !important;
}

.card-edit-snippet {
  padding-top: 2em;
}