#hidden_textarea {
  display: none;
}

#editor {
  width: Calc(100% - 1px);
  height: 400px;
  font-family: monospace;
  font-size: 10pt;
  border-top: solid 1px #6600ff !important;
  position: relative;
  z-index: 1;
}

.post_title {
  display: inline-block;
  width: Calc(100% - 234px) !important;
}

.language-dropdown {
  width: 114px;
  top: 1px;
  position: relative;
  z-index: 0;
}

.privacy-dropdown {
  width: 100px;
  top: 1px;
  position: relative;
  z-index: 0;
}
